<h1>Make your form here</h1>

  <form action="/pirates" method="post">
  Pirate: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship: <input type="text" name="ship[name]">
  Ship Type: <input type="text" name="ship[][type]">
  Ship Booty: <input type="text" name="ship[][booty]">
  Ship: <input type="text" name="ship[name]">
  Ship Type: <input type="text" name="ship[][type]">
  Ship Booty: <input type="text" name="ship[][booty]">
  <input type="submit">

</form>
