  <form action="/pirates" method="post">

  <label for="name">Pirate Name:</label>
  <input type="text" name="pirate[name]">
  <label for="weight">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
  <label for="height">Pirate Height:</label>
  <input type="text" name="pirate[height]">
  <label for="name">Ship Name:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="type">Ship Type:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="booty">Ship Booty:</label>
  <input type="text" name="pirate[ship][][booty]">
  <label for="name">Ship Name:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="type">Ship Type:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="booty">Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]">

   <input type="submit">

</form>
