  <form action="/pirates" method="post">
  <label for="name">Pirate Name:</label>
  <input type="text" name="pirate[name]">
  <label for="weight">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
  <label for="height">Pirate Height:</label>
  <input type="text" name="pirate[height]">
  <label for="name">Ship Name:</label>
  <input type="text" name="ship[name]">
  <label for="type">Ship Type:</label>
  Ship Type: <input type="text" name="ship[][type]">
  <label for="male">Male</label>
  Ship Booty: <input type="text" name="ship[][booty]">
  <label for="male">Male</label>
  Ship: <input type="text" name="ship[name]">
  <label for="male">Male</label>
  Ship Type: <input type="text" name="ship[][type]">
  <label for="male">Male</label>
  Ship Booty: <input type="text" name="ship[][booty]">
  <input type="submit">

</form>
