<h1>Make your form here</h1>

  <form action="/pirates" method="post">
  Pirate: <input type="text" name="pirate[name]">
  Student Grade: <input type="text" name="pirate[weight]">
  <input type="submit">
</form>
